.body{
    background-color : #323232;
    height : 100vh;
    width : 100%;
}
.navbar-brand:link {
    color: #54BAB9;
}
.navbar-brand:hover {
    color: #54BAB9;
    text-decoration: none;
}
.navbar-brand:visited {
    color: #54BAB9;
    text-decoration: none;
}
.home-img{
    width : 600px;
    height : 600px;
}
.home-header{
    font-size : 30px;
    font-weight : 500;
    color : #54BAB9;
}
.home-caption{
    font-size : 30px;
    font-weight : 500;
    color : #54BAB9;
}
.home-btn{
    width : 150px;
}
.join-input[type="text"]{
  background: transparent;
  border: none;
  border-bottom: 1px solid #EEEEEE; 
  border-radius: 0;
  font-size:20px;
}

.join-input[type="text"]:focus{
  outline : none;
  border-bottom: 1px solid red;
  caret-color: #EEEEEE;
}
::-webkit-input-placeholder {
    color: #EEEEEE;
    font-size: 20px;
}
.create-input[type="text"]{
    background: transparent;
    border: none;
    border-bottom: 1px solid #EEEEEE; 
    border-radius: 0;
    font-size:20px;
  } 
.create-input[type="text"]:focus{
    outline : none;
    border-bottom: 1px solid blue;
    caret-color: #EEEEEE;
}